.Post_body{
	margin-top: 10px;
	font-size: 16px;
}
.Post_item{
	display: flex;
	flex-direction: column;
-ms-flex-direction: column;

	position: relative;
	font-family: 'Roboto' sans-serif;
	font-size: 16px;
	padding: 10px 0px;
}
.Post_item span{
	display: block;

	margin: 20px 0px 0px 150px;
}
.Post_item img{
	width: 40px;
	border-radius: 50%;
}

.title{
	padding: 8px 8px;
}
.Post_like{
	display: flex;

}